body {
	background-color: black;
	font-family: 'Roboto', sans-serif;
	width: 100vw;
	height: 100vh;
}

body::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}

body::-webkit-scrollbar-track {
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
}

body::-webkit-scrollbar-button {
    display:none;
}

:root {
	--settings-color: #7c3eee;
}

.menu-header {
	position: relative;
	display: inline-block;
}

.menu-header::after {
	content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 5px;
	width: 100vw;
    background: linear-gradient(to bottom, var(--settings-color), transparent);
}

.menu-header-title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	color: white;
	font-weight: 700;
	text-shadow: 0 0 25px var(--settings-color);
	width: 100vw;
}

.important-label {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 30px;
	font-weight: 500;
	font-family: 'Ubuntu', sans-serif; 
	color: white;
	text-shadow: 0 0 25px var(--settings-color);
	-webkit-text-stroke: 1px var(--settings-color);
}

.description {
	margin: 0;
	font-size: 20px;
    font-family: 'Aldrich', sans-serif;
	color: white;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.button-like {
	display: inline-block;
	padding: 10px 20px;
	width: 100px;
}

.button-like:hover {
	background-color: #cb8aff;
}

.visually-hidden:checked + .button-like {
	background-color: var(--settings-color);
	transform: scale(1.1);
}

input[type="range"] {
	display: block;
	appearance: none;
	-webkit-appearance: none;
	background-color: #bdc3c7;
	width: 300px;
	height: 5px;
	border-radius: 5px;
	margin: 0 auto;
	outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: var(--settings-color);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid white;
	cursor: pointer;
	transition: .3s ease-in-out;
}​
input[type="range"]::-webkit-slider-thumb:hover {
	background-color: white;
	transform: scale(1.1);
	border: 2px solid var(--settings-color);
}
input[type="range"]::-webkit-slider-thumb:active {
	transform: scale(1.4);
}

.rounded-border {
	border: 4px solid white;
	border-radius: 10px;
}

.scale-up {
	transition: transform 0.1s ease-in-out;
}

.scale-up:hover {
	transform: scale(1.05);
}

.header h1, p {
	width: auto;
}

.w-45 {
	width: 45%;
}

.w-80 {
	width: 80%;
}

.h-85 {
	height: 85%;
}

.vw-100 {
	width: 100vw;
}

.vh-100 {
	height: 100vh;
}

.unselectable {
	user-select: none;
}

.justify-content-space-evenly {
	justify-content: space-evenly;
}

.cursor-pointer {
	cursor: pointer;
}

.glowing-border {
	box-shadow: 0 0 10px white;
}

.important-label {
	text-shadow: 0;
	-webkit-text-stroke: 0;
}

.circle {
	width: 200px;
	height: 200px;
	background-color: #3498db;
	border-radius: 50%; /* This creates a circle */
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}