.profile-pic {
	width: 200px;
	height: 200px;
	background-color: transparent;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile-pic img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
}

.input-container {
	display: flex;
	align-items: center;
	border: 2px solid #ccc;
	border-radius: 20px;
	padding: 5px 10px;
}
.input-container input[type="text"] {
	border: none;
	outline: none;
	padding: 5px;
	flex-grow: 1;
	caret-color: white;
	background-color: transparent;
}
.input-container input[type="file"] {
	width: 100%;
	font-size: 14px;
	box-sizing: border-box;
}
.input-container button {
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}
.input-container:focus-within {
	box-shadow: 0 0 20px rgb(255, 0, 0);
}
