.circle {
	width: 200px;
	height: 200px;
	background-color: #3498db;
	border-radius: 50%; /* This creates a circle */
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.search-bar {
	display: flex;
	align-items: center;
	border: 4px solid #ccc;
	border-radius: 20px;
	padding: 5px 10px;
}

.search-bar input {
	border: none;
	outline: none;
	padding: 5px;
	flex-grow: 1;
	caret-color: white;
	background-color: transparent;
}

.search-bar button {
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

/* Animation when the search bar becomes active */
.search-bar:focus-within {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}