.player-text {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
}

.p1-colour {
	color: var(--color2);
	text-shadow: 0 0 25px var(--color2);
}

.p2-colour {
	color: var(--color5);
	text-shadow: 0 0 25px var(--color5);
}

.player-score-text-size {
	font-size: 50px;
	align-items: bottom;
}

.player-username-text-size {
	font-size: 25px;
	font-family: 'Aldrich', sans-serif;
}

.game-container {
	display: flex;
	justify-content: center;
	aspect-ratio: 16/9;
	max-width: 1300px;
}

.game-box {
	position: relative;
	aspect-ratio: 16/9;
	max-width: 1300px;
	border: 2px solid white;
	border-radius: 10px;
	box-shadow: #fff 0 0 25px;
}

.game-box::after {
    content: '';
    position: absolute;
    left: 50%;
	top: 10px;
	bottom: 10px;
	width: 2px;
	z-index: 3;
    background: repeating-linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0.5) 10px, transparent 10px, transparent 20px);
}

#dongball {
	width: 2%;
	height: 4%;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	background-color: red;
	position: absolute;
	z-index: 4;
}

#paddle_left {
	width: 2%;
	height: 25%;
	background-color: var(--color2);
	top: 37.5%;
	left: 3%;
	position: absolute;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px var(--color2);
}

#paddle_right {
	width: 2%;
	height: 25%;
	background-color: var(--color5);
	top: 37.5%;
	left: 95%;
	position: absolute;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px var(--color5);
}

.modal-backdrop {
	opacity: 1 !important;
}