.container {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.title-container {
    position: relative;
}

.title {
	width: 100%;
	font-size: 128px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	background: linear-gradient(to right, #1224F5, #D934F6, #FAE84D, #9AEB4C, #85EBE9);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-stroke: 7px transparent;
	color: white;
}

.title-bg {
	width: 100%;
	font-size: 128px;
	font-family: 'Ubuntu', sans-serif;
	background: linear-gradient(to right, #1224F5, #D934F6, #FAE84D, #9AEB4C, #85EBE9);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: blur(25px);
	opacity: 0.5;
	position: absolute;
	top: 0%;
	z-index: -1;
}

.container p {
	color: rgba(255, 255, 255, 0.50);

	font-family: 'Aldrich', sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}