.menu-header::after {
	background: linear-gradient(to bottom, var(--color1), transparent);
}

.menu-header-title {
	text-shadow: 0 0 25px var(--color1);
}

#vs-player:hover {
	box-shadow: 0 0 40px var(--color2);
}

#vs-ai:hover {
	box-shadow: 0 0 40px var(--color3);
}

#tourney:hover {
	box-shadow: 0 0 40px var(--color4);
}

.vs-player .menu-component-title {
	text-shadow: 0 0 25px var(--color2);
	-webkit-text-stroke: 1px var(--color2);
}

.vs-player .menu-component-description {
	color: var(--color2);
}

.vs-ai .menu-component-title {
	text-shadow: 0 0 25px var(--color3);
	-webkit-text-stroke: 1px var(--color3);
}

.vs-ai .menu-component-description {
	color: var(--color3);
}

.tournament .menu-component-title {
	text-shadow: 0 0 25px var(--color4);
	-webkit-text-stroke: 1px var(--color4);
}

.tournament .menu-component-description {
	color: var(--color4);
}

#settings-button {
	opacity: 0.8;
	transition: opacity 0.1s ease;
}
#settings-button:hover {
	animation: spin 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
	opacity: 1;
}

@keyframes spin {
	from {transform: rotate(0deg); }
	to {transform: rotate(360deg); }
}

.friend-profile {
	transition: background-color 0.2s, border-radius 0.2s;
}
.friend-profile:hover {
	background-color: rgb(71, 71, 71);
	border-radius: 10px;
}

.profile-container {
	position: relative;
}

.status-indicator {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}