.menu-header {
	position: relative;
	display: inline-block;
}

.menu-header::after {
	content: '';
	position: absolute;
	bottom: -4px; /* Adjust this value based on your shadow preference */
	left: 0;
	height: 5px; /* Adjust this value based on your shadow thickness preference */
	width: 100vw;
	background: linear-gradient(to bottom, rgba(92, 181, 255, 0.959), transparent); /* Adjust shadow color and transparency */
}

.menu-header-title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 50px;
	color: white;
	text-shadow: 0 0 25px #85EBE9;
	width: 100vw;
}

.menu-content {
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 103px;

}

:root {
	--vs-player-color: #98EB4C;
	--vs-ai-color: #FAE84D;
	--tourney-color: #D934F6;
}

.menu-component {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 850px;
	height: 110px;
	border: 4px solid white;
	border-radius: 10px;
	color: white;
	transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
	box-shadow: white 0 0 15px;
}

.menu-component:hover {
	transform: scale(1.05);
}

/* #vs-player:hover {
	box-shadow: 0 0 40px var(--vs-player-color);
}

#vs-ai:hover {
	box-shadow: 0 0 40px var(--vs-ai-color);
} */

/* #tourney:hover {
	box-shadow: 0 0 40px var(--tourney-color);
} */

.menu-component-title {
	font-size: 50px;
	font-family: 'Ubuntu', sans-serif; 
	color: white;
}

.menu-component-description {
	font-size: 20px;
	font-family: 'Aldrich', sans-serif;
}

.vs-player .menu-component-title {
	text-shadow: 0 0 25px var(--vs-player-color);
	-webkit-text-stroke: 1px var(--vs-player-color);
}

.vs-player .menu-component-description {
	color: var(--vs-player-color);
}

.vs-ai .menu-component-title {
	text-shadow: 0 0 25px var(--vs-ai-color);
	-webkit-text-stroke: 1px var(--vs-ai-color);
}

.vs-ai .menu-component-description {
	color: var(--vs-ai-color);
}

.tournament .menu-component-title {
	text-shadow: 0 0 25px var(--tourney-color);
	-webkit-text-stroke: 1px var(--tourney-color);
}

.tournament .menu-component-description {
	color: var(--tourney-color);
}

.unselectable {
	user-select: none;
}

.cursor-pointer {
	cursor: pointer;
}
