:root {
	/* DING'S DAZZLE */
	--dings-dazzle-1: #ff00ff;
	--dings-dazzle-2: #00ffff;
	--dings-dazzle-3: #ffff00;
	--dings-dazzle-4: #8b008b;
	--dings-dazzle-5: #00ff7f;
	
	/* ELECTRIC DREAM */
	--electric-dream-1: #ff00ff;
	--electric-dream-2: #00ffff;
	--electric-dream-3: #ffa500;
	--electric-dream-4: #ffff00;
	--electric-dream-5: #ff1493;

	/* LASER LEMONADE */
	--laser-lemonade-1: #00ff00;
	--laser-lemonade-2: #ffd700;
	--laser-lemonade-3: #32cd32;
	--laser-lemonade-4: #ff4500;
	--laser-lemonade-5: #ffff66;

	/* CITRUS SURGE */
	--citrus-surge-1: #ffd700;
	--citrus-surge-2: #ffa500;
	--citrus-surge-3: #ff6347;
	--citrus-surge-4: #ffff00;
	--citrus-surge-5: #32cd32;

	/* NEON BLISS */
	--neon-bliss-1: #9400d3;
	--neon-bliss-2: #00ff7f;
	--neon-bliss-3: #ff6347;
	--neon-bliss-4: #00ced1;
	--neon-bliss-5: #ff69b4;

	/* RADIANT REBELLION */
	--radiant-rebellion-1: #ff8c00;
	--radiant-rebellion-2: #4b0082;
	--radiant-rebellion-3: #ff00ff;
	--radiant-rebellion-4: #00ff7f;
	--radiant-rebellion-5: #ffd700;

	/* VIVID VOLTAGE */
	--vivid-voltage-1: #8a2be2;
	--vivid-voltage-2: #00ff00;
	--vivid-voltage-3: #ff4500;
	--vivid-voltage-4: #1e90ff;
	--vivid-voltage-5: #ff1493;

	/* RUBY RADIANCE */
	--ruby-radiance-1: #ff0000;
	--ruby-radiance-2: #b22222;
	--ruby-radiance-3: #e32636;
	--ruby-radiance-4: #ff1493;
	--ruby-radiance-5: #dc143c;

	/* CERULEAN SPECTRA */
	--cerulean-spectra-1: #00ced1;
	--cerulean-spectra-2: #00ffff;
	--cerulean-spectra-3: #87ceeb;
	--cerulean-spectra-4: #0000ff;
	--cerulean-spectra-5: #4169e1;

	/* JADE JUBILEE */
	--jade-jubilee-1: #008080;
	--jade-jubilee-2: #00ff00;
	--jade-jubilee-3: #238323;
	--jade-jubilee-4: #7fff00;
	--jade-jubilee-5: #00fa9a;

	/* MAGENTA MAGIC */
	--magenta-magic-1: #ff00ff;
	--magenta-magic-2: #ff1693;
	--magenta-magic-3: #da70d6;
	--magenta-magic-4: #ba55d3;
	--magenta-magic-5: #ff69b4;

	/* SUNSET GLOW */
	--sunset-glow-1: #ff6347;
	--sunset-glow-2: #ffd700;
	--sunset-glow-3: #ffa500;
	--sunset-glow-4: #d83a00;
	--sunset-glow-5: #dc143c;

	/* DUSK HORIZON */
	--dusk-horizon-1: #1e90ff;
	--dusk-horizon-2: #dc143c;
	--dusk-horizon-3: #ff6347;
	--dusk-horizon-4: #4382b4;
	--dusk-horizon-5: #ff4500;

	/* IYKYK */
	--iykyk-1: #696969;
	--iykyk-2: #420690;
	--iykyk-3: #420420;
	--iykyk-4: #b80085;
	--iykyk-5: #123456;

	/* UNICORN VOMIT */
	--unicorn-vomit-1: #ff9472;
	--unicorn-vomit-2: #ffe769;
	--unicorn-vomit-3: #9aeabc;
	--unicorn-vomit-4: #a28bf5;
	--unicorn-vomit-5: #ff7496;

	/* EYESORE */
	--eyesore-1: #ff0000;
	--eyesore-2: #00ff00;
	--eyesore-3: #0000ff;
	--eyesore-4: #ffff00;
	--eyesore-5: #ff00ff;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: black;
	font-family: 'Roboto', sans-serif;
}

/* scrollbar */
*::-webkit-scrollbar {
	background-color: #fff;
	width: 16px;
}

*::-webkit-scrollbar-track {
	background-color: #fff;
}

*::-webkit-scrollbar-thumb {
	background-color: #babac0;
	border-radius: 16px;
	border: 4px solid #fff;
}

*::-webkit-scrollbar-button {
	display:none;
}

/* menu header */
.menu-header {
	position: relative;
	display: inline-block;
}

.menu-header::after {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	height: 5px;
	width: 100vw;
	background: linear-gradient(to bottom, white, transparent);
}

.menu-header-title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	color: white;
	font-weight: 700;
	text-shadow: 0 0 25px white;
	width: 100vw;
}

.important-label {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 30px;
	font-weight: 500;
	font-family: 'Ubuntu', sans-serif; 
	color: white;
	text-shadow: 0 0 25px white;
	-webkit-text-stroke: 1px white;
}

.description {
	margin: 0;
	font-size: 20px;
	font-family: 'Aldrich', sans-serif;
	color: white;
}

/* slider bar */
input[type="range"] {
	display: block;
	appearance: none;
	-webkit-appearance: none;
	background-color: #bdc3c7;
	width: 300px;
	height: 5px;
	border-radius: 5px;
	margin: 0 auto;
	outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: var(--color5);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid white;
	cursor: pointer;
	transition: .3s ease-in-out;
}
input[type="range"]::-webkit-slider-thumb:hover {
	background-color: var(--color5);
	transform: scale(1.1);
	border: 2px solid white;
}
input[type="range"]::-webkit-slider-thumb:active {
	transform: scale(1.4);
}

/* commonly used customs */
.important-label {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 30px;
	font-weight: 500;
	font-family: 'Ubuntu', sans-serif; 
	color: white;
	text-shadow: 0 0 25px white;
	-webkit-text-stroke: 1px white;
}

.description {
	margin: 0;
	font-size: 20px;
	font-family: 'Aldrich', sans-serif;
	color: white;
}

.rounded-border {
	border: 4px solid white;
	border-radius: 10px;
}

.scale-up {
	transition: transform 0.1s ease-in-out;
}

.scale-up:hover {
	transform: scale(1.05);
}

/* miscellaneous missing bootstrap addons */
.w-45 {
	width: 45%;
}

.w-80 {
	width: 80%;
}

.h-85 {
	height: 85%;
}

.vw-100 {
	width: 100vw;
}

.vh-100 {
	height: 100vh;
}

.unselectable {
	user-select: none;
}

.justify-content-space-evenly {
	justify-content: space-evenly;
}

.cursor-pointer {
	cursor: pointer;
}
