.menu-header::after {
	background: linear-gradient(to bottom, var(--color3), transparent);
}

.menu-header-title {
	text-shadow: 0 0 25px var(--color3);
}

.important-label {
	font-size: 35px;
	text-shadow: 0 0 25px var(--color3);
	-webkit-text-stroke: 1px var(--color3);
}

.menu-component-description {
	color: var(--color3);
}

.play-button {
	box-shadow: whitesmoke 0 0 15px;
	transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.play-button:hover {
	transform: scale(1.05);
	box-shadow: var(--color3) 0 0 25px;
}

.scale-up:hover img {
	content: url('../assets/star.png');
}