:root {
	--vs-ai-color: #FAE84D;
}

.menu-header {
	position: relative;
	display: inline-block;
}

.menu-header::after {
	content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 5px;
	width: 100vw;
    background: linear-gradient(to bottom, var(--vs-ai-color), transparent);
}

.menu-header-title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	color: white;
	font-weight: 700;
	text-shadow: 0 0 25px var(--vs-ai-color);
	width: 100vw;
}

.important-label {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 45px;
	font-weight: 500;
	font-family: 'Ubuntu', sans-serif; 
	color: white;
	text-shadow: 0 0 25px var(--vs-ai-color);
	-webkit-text-stroke: 1px var(--vs-ai-color);
}

.description {
	margin: 0;
	font-size: 15px;
    font-family: 'Aldrich', sans-serif;
	color: white;
	text-shadow: 0 0 25px var(--vs-ai-color);
	-webkit-text-stroke: 1px var(--vs-ai-color);
}

.play-button {
	box-shadow: whitesmoke 0 0 15px;
	transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.play-button:hover {
	transform: scale(1.05);
	box-shadow: var(--vs-ai-color) 0 0 25px;
}

.rounded-border {
	border: 4px solid white;
	border-radius: 10px;
}

input[type="range"] {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: #ff00d4;
	outline: none;
	opacity: 0.7;
	transition: opacity 0.2s ease-in-out;
	-webkit-trasition: 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border-radius: 50%;
	background: white;
	box-shadow: 0 0 15px white;
	transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

input[type="range"]:hover::-webkit-slider-thumb {
	transform: scale(1.2);
	box-shadow: 0 0 15px var(--vs-ai-color);
}

.scale-up {
	transition: transform 0.1s ease-in-out;
}

.scale-up img {
	transition: transform 0.1s ease-in-out;
}

.scale-up:hover {
	transform: scale(1.05);
}

.scale-up:hover img {
	content: url('../assets/star.png');
}

.header h1, p {
	width: auto;
}

.w-45 {
	width: 45%;
}

.w-80 {
	width: 80%;
}

.h-85 {
	height: 85%;
}

.unselectable {
	user-select: none;
}

.cursor-pointer {
	cursor: pointer;
}

#settings {
	border-radius: 10px;
}