.menu-header::after {
	background: linear-gradient(to bottom, var(--color2), transparent);
}

.menu-header-title {
	text-shadow: 0 0 25px var(--color2);
}

.menu-component:hover {
	box-shadow: 0 0 40px var(--color2);
}

.menu-component-title {
	color: var(--color2);
}

.menu-component-description {
	margin: 0 !important;
	padding: 0 !important;
	color: var(--color2);
}

#room-id-div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	min-width: 400px;
	max-width: 850px;
	height: 110px;
}

.vs-player-input {
	height: 50px;
	padding-left: 30px;
	border-radius: 10px;
	background-color: transparent;
	font-family: 'Aldrich', sans-serif;
	font-size: 20px;
	border: 1px solid white;
	color: white;
}

.modal-backdrop {
	opacity: 1 !important;
}